#mian {
    height: 500px;
}
#modal div {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 3px;
}

.hi300 {
    height: 450px;
}

.w70 {
    width: 70%;
}

.modal-custom {
    max-width: 70%;
}

#contt div {
    border: none;
}