

.datepicker-dropdown.datepicker-orient-bottom:before {
  border-top: 7px solid #373737;
}

.datepicker {
  td, th {
    text-align: center !important;
    width: 43px;
    height: 43px;
    font-size: 14px !important;
  }

  table tr td {
    &.today {
      background-color: #545d65 !important;
      color: #fff !important;
      background-image: none !important;

      &:hover {
        background-color: #545d65 !important;
        color: #fff !important;
        background-image: none !important;
      }

      &.disabled {
        background-color: #545d65 !important;
        color: #fff !important;
        background-image: none !important;

        &:hover {
          background-color: #545d65 !important;
          color: #fff !important;
          background-image: none !important;
        }
      }
    }

    &.active {
      &:hover, &.disabled:hover, &:active, &:hover:active {
        background-color: #485169 !important;
        background-image: none !important;
      }

      &.disabled {
        &:active, &:hover:active {
          background-color: #485169 !important;
          background-image: none !important;
        }
      }

      &.active, &:hover.active {
        background-color: #485169 !important;
        background-image: none !important;
      }

      &.disabled {
        &.active, &:hover.active {
          background-color: #485169 !important;
          background-image: none !important;
        }

        background-color: #485169 !important;
        background-image: none !important;
      }

      &:hover.disabled {
        background-color: #485169 !important;
        background-image: none !important;
      }

      &.disabled {
        &.disabled, &:hover.disabled {
          background-color: #485169 !important;
          background-image: none !important;
        }
      }

      &[disabled], &:hover[disabled] {
        background-color: #485169 !important;
        background-image: none !important;
      }

      &.disabled {
        &[disabled], &:hover[disabled] {
          background-color: #485169 !important;
          background-image: none !important;
        }
      }
    }

    &.today {
      &:hover, &.disabled:hover, &:active, &:hover:active {
        background-color: #5d666f !important;
        background-image: none !important;
      }

      &.disabled {
        &:active, &:hover:active {
          background-color: #5d666f !important;
          background-image: none !important;
        }
      }

      &.active, &:hover.active {
        background-color: #5d666f !important;
        background-image: none !important;
      }

      &.disabled {
        &.active, &:hover.active {
          background-color: #5d666f !important;
          background-image: none !important;
        }

        background-color: #5d666f !important;
        background-image: none !important;
      }

      &:hover.disabled {
        background-color: #5d666f !important;
        background-image: none !important;
      }

      &.disabled {
        &.disabled, &:hover.disabled {
          background-color: #5d666f !important;
          background-image: none !important;
        }
      }

      &[disabled], &:hover[disabled] {
        background-color: #5d666f !important;
        background-image: none !important;
      }

      &.disabled {
        &[disabled], &:hover[disabled] {
          background-color: #5d666f !important;
          background-image: none !important;
        }
      }
    }

    span:hover {
      background: #414b54;
    }

    &.today:hover:hover {
      color: #fff !important;
    }
  }

  thead tr:first-child th:hover, tfoot tr th:hover {
    background: #545d65 !important;
  }

  table tr td.day {
    &:hover, &.focused {
      background: #545d65 !important;
      cursor: pointer !important;
    }
  }
}

.datepicker-dropdown {
  background: #2f363c !important;
  color: #c1c1c1 !important;
}


.datepicker-dropdown.datepicker-orient-bottom:after {
  border-top: 6px solid #36404a;
}


.datepicker {
  .next, .prev {
    background: none;
  }
}
