
@font-face {
    font-family: 'ng';
    font-style: normal;
    src: url(../fonts/nanumgothic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'ngb';
    font-style: normal;
    src: url(../fonts/nanumgothic-bold.woff) format("woff");
  }
  
  @font-face {
    font-family: 'notom';
    font-style: normal;
    src: url(../fonts/notosanskr-medium.woff) format("woff");
  }
  
  @font-face {
    font-family: 'notob';
    font-style: normal;
    src: url(../fonts/notosanskr-bold.woff) format("woff");
  }
  
  @font-face {
    font-family: 'kpm';
    font-style: normal;
    src: url(../fonts/KoPubDotumMedium.woff) format("woff");
  }
  
  @font-face {
    font-family: 'kpb';
    font-style: normal;
    src: url(../fonts/KoPubDotumBold.woff) format("woff");
  }
  
  @font-face {
    font-family: 'rix_g';
    font-style: normal;
    src: url(../fonts/Rix_Gothic_B.woff) format("woff");
  }
  
  @font-face {
    font-family: 'rix_h';
    font-style: normal;
    src: url(../fonts/Rix_heiter_Gothic_B.woff) format("woff");
  }
  
  @font-face {
    font-family: 'rix_r';
    font-style: normal;
    src: url(../fonts/Rix_rule_Gothic_B.woff) format("woff");
  }


  
.font-12 {
    font-size: 12px !important;
  }
  
  .font-14 {
    font-size: 14px !important;
  }
  
  .font-16 {
    font-size: 16px !important;
  }
  
  .font-18 {
    font-size: 18px !important;
  }
  
  .font-20 {
    font-size: 20px !important;
  }