
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #224263;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background: #277dc5;
  
    .close {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
      color: #fff;
      text-shadow: none;
    }
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #363f48;
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
  }
  
  .modal-full {
    width: 92%;
    max-width: none;
  }

  .modal-big {
    width: 75%;
    max-width: none;
    box-shadow: 0px 5px 40px 0px #000000;
  }
  
  .modal-nomal {
    width: 55%;
    max-width: none;
    box-shadow: 0px 5px 40px 0px #000000;
  }

  .modal-small {
    width: 45%;
    max-width: none;
    box-shadow: 0px 5px 40px 0px #000000;
  }

  .modal-mini {
    width: 30%;
    max-width: none;
    box-shadow: 0px 5px 40px 0px #000000;
  }
  
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: .5;
  
    &:hover {
      color: #b2b2b2;
      text-decoration: none;
    }
  }

  .modal-content {
    background-color: #202329;
    border: 3px solid #000000;
  }
  


  

h4.modal-title {
  font-size: 16px;
}

.modal-body {
  font-size: 15px;

  h4 {
    font-size: 15px;
  }
}

.pannel_form {
  margin: 0 10px 10px;

  label {
    background: none;
    line-height: 2;
  }

  .form-control {
    background-color: #191c23;
    height: 44px;
  }
}